/* Elements */

body {
	background-color: #050925;
	font-family: sans-serif;
	line-height: 0;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.square {
  height: 100px;
  width: 100px;
  background-color: black;
  filter: blur(0.25em);
 
 
}


.line {
	height: 2px;
	width: 100%;
	background-color: #08fff4;
	transform: rotate(-75deg);
	filter: blur(2px);
}

.line-2 {
	transform: rotate(5deg);
	background-color: navy;
	position: absolute;
	top: 7em;

}

.line-3 {
	transform: rotate(5deg);
	background-color: #08fff4;
	position: absolute;
	top: 8em; }


.line-4 {
	transform: rotate(5deg);
	background-color: navy;
	position: absolute;
	top: 9em; 

}
.center{
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 200px;
	height: 200px;
	background-color: transparent;
	border-radius: 50%;
	box-shadow: 45px 25px 0px 0px #fff; 
	filter: blur(0.05em);
	box-shadow: 25px 15px 5px #e2e2e2;
}

  }
}